CODEOWNERS
*         @dantes-git @tarcisiogc @hernandazevedozup @matheusribeirozup @uziasferreirazup @lucasaraujo @paulomeurerzup @gabrielleonardozup @carlossteinzup @luisgustavozup @joaoabreuzup @Tiagoperes @igorgiumellizup @arthurbleilzup @hectorcustodiozup @jamessonpenhazup @tayronemachadozup @gabrielpenhazup
